//template color themes
$hightlightColor:#004990;
$primaryColor:#fff;
$secondaryColor:#F4F5F8;
$borderColor:#EAEAEA;
$shadowColor:#70707028;
$breakpoint-sm:768px;
$breakpoint-md:991px;


$DrawerWidth:250px;
$HeaderHeight:150px;


$ArrowWhite:'../assets/images/dropdown-icon-white.svg';
$ArrowBlack:'../assets/images/dropdown-icon-black.svg';
