@import 'props';
@import 'fonts.scss';
@import 'component';

#pre-loader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: 150% 150%;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 99999999;
    align-items:center; 
    justify-content:center;
    // background: linear-gradient(0deg, rgba(0, 73, 144, 1) -20%, rgba(255,255,255,1) 40%);
}


///Header-grouping
@include NavbarReusable($Addon:true); 

///sidebar 
#sidebar{
    @include CalculateSidebarContainer();
    .sidebar-box{
        background-color: $primaryColor;
        border-top-right-radius: 50px; 
            .sidebar-content{
                padding:14px 18px;
                .list-header{  
                    padding: 10px;
                    border-bottom: solid 2px $secondaryColor;
                    .mobile-view-toggler-off{
                        cursor: pointer;
                    }
                }
                .form-wrapper{
                    height: calc(100vh - 238px);
                    overflow-y: auto;
                    .filters{
                        .master-control{
                            padding: 6px 4px;
                            .dropdown{
                                @include dropdownIconSelector($ArrowBlack,$secondaryColor);
                                font-size: 14px;
                                border-width: 2px;
                            }
                        }
                    }
                }
                /// Visible only on mobile screen scroll
                .ApplyFilters{
                    width: 100vw;
                    height: 74px;
                    margin-top: 16px;
                    border-top: solid 2px $borderColor;
                    display: none;
                    .btn{
                        font-family: robotoBold;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                        padding: 10px 20px;
                        border-radius: 2px;
                        background-color: $hightlightColor;
                        color: $primaryColor;
                    }
                }
            }
    }
}

///Body of the app
.page-base-container{
    @include CalculateBaseContainer();
    .view{
        margin-bottom: 20px;
       .first-layer{
             .titlecard{
                background-color: #D69100;
                background-image: transparent linear-gradient(180deg, #EDAD27 0%, #D69100 100%) 0% 0% no-repeat padding-box;
                background-image: url('../assets/images/Curves.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 100%;
                border-radius: 10px;
                color: $primaryColor; 

                .titlecard-welcome{
                    .title{
                        font-size: 14px;
                        font-family: robotoLight;
                    }
                    .title-name{
                        font-family: robotoBold;
                        font-size: 20px;
                    }
                }
                .ilustrated-img{
                    max-width:200px; 
                    height: 100%; 
                    right: 3%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card{
                padding: 15px 15px;
                border-radius: 10px;
                .leadsData{
                    .leadsCount{
                       color: $hightlightColor;
                    }
                }
                .piechart{
                    width: 7em;
                    margin: auto 0px;
                    height: 100px;
                }
            }
        }
        .cards{
            padding: 8px;
            .card-layout{
                border-radius: 10px;
                background-color: $primaryColor;
                .card-layout-header{ 
                   padding: 14px;
                   color: black;
                   border-bottom: solid 1px $borderColor;
                   button{
                       border-color: $hightlightColor;
                       padding: 4px 10px;
                       background-color: $primaryColor;
                       &:hover{
                            background-color: $hightlightColor;
                            color: $primaryColor;
                       }
                   }
                   .explore_fullview_on,.explore_fullview_off{
                       .explore-icon{
                           font-size: 14px;
                           color:rgba($color: #000000, $alpha: 0.4);
                           cursor: pointer;
                           &:hover{
                               transform: scaleX(1.15);
                           }
                       }
                   }
                   .explore_fullview_off{display: none;}
                }
                .card-body{
                    .btn{
                        font-size: 0.7em;
                        font-family: robotoRegular;
                        background-color: $primaryColor;
                        border:solid 2px $borderColor;
                        color: black;
                        border-radius: 8px;
                        &:hover{
                            background-color: $hightlightColor;
                            color: $primaryColor;
                        }
                    }
                    .date-picker{
                        width: 100%;
                        height: 34px;
                        font-size: 0.7em;
                        color: black;
                        background-image: url('../assets/images/datepicker.svg');
                        background-repeat: no-repeat;
                        background-position: 96% 50%;
                        background-size: 14px;
                        &:focus{
                            outline: none;
                            border: solid 1px $hightlightColor;
                        }
                    }
                    &-charts{
                        padding: 20px;
                        height: 100%;
                        width: 100%;
                    .charts{
                        height: 200px;
                        width: 100%;
                    }
                    }
                }
                .card-layout-footer{
                    border-top: solid 1px $borderColor;
                    font-size: 12px;
                    padding: 10px;
                    div{
                        padding: 4px;
                        .btn{
                            padding: 1px 8px;
                            border: solid 1px $borderColor;
                        }
                    }
                    .dropdown{
                        padding: 4px;
                        width: 60px;
                        height: 28px;
                        border-radius: 4px;
                        font-size: 11px;
                        cursor: pointer ;
                        &:focus{
                            outline: none; 
                            border: 
                            solid 1px $hightlightColor;
                        }
                    }
                }
            }
        }
    }
}

///filter options toggler --mobile View form
.mobile-view-toggler{
    &-on{
        z-index: 1500;
        background-color: $hightlightColor;
        bottom: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: none;
        .icon-o{
            width: 12px;
            height: 12px;
            top: 0;
            right: 0;
            background-color: #FF0000;
            border-radius: 50%;
        }
        span{
            vertical-align: center;
            font-size: 22px;
            color: $primaryColor;
        }
    }
    &-off{
       font-size: 18px;
    }
}

////Table overrides  Check 'plugins/jqwidgets/jqwidgets/styles/jqx.base.css
.table-wrapper,.form-wrapper{
    @include Scrollbar_addon();
    max-width: 100%;
    height: 100%;  ///99% overflow x
    overflow: auto;
    
    #divPivotGrid{
        width: 100%;
        #innerDiv jqx-pivotgrid-expand-button{
            padding:10px !important;
            left: 40px;
        }
        .jqx-pivotgrid-content-wrapper {
            border: solid 1px $borderColor;
            font-size: 1em;   
            font-family: "robotoRegular";
        }
        .jqx-pivotgrid{
            &::before{
                position: absolute;
                top: 20px;
                left: 14px;
                font-size: 14px;
                font-family: "robotoBold";
                content: 'Measures';
                color: black;
            }    
            border: solid 1px $borderColor;
            background-color: $primaryColor;
        }
        .jqx-widget-header{
            font-family: "robotoMedium";
            font-size: 12px;
            background-color: $primaryColor;
            color: black;
        }
        .jqx-pivotgrid-{
                &expand-button{background-image: url('../assets/images/plus-icon.svg') !important;}
                &collapse-button{background-image: url('../assets/images/minus-icon.svg') !important;}
                &collapse-button,&expand-button{
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin: 0 8px 0 10px;
                    left: 0px;
                }
        }
    }    
}


///sidebar Responsiveness
@media screen and (max-width:$breakpoint-md) and (min-width:0px){
    #sidebar{
        .sidebar-box{
            .sidebar-content{
                padding-top: 0px;
                .form-wrapper{
                    height: calc(100vh - 156px);
                }
                .ApplyFilters{
                    display: block;
                }
            }
        } 
    }
    .mobile-view-toggler-on{
        display: block;
    }
}

@include Select2Container();
@include FullscreenView($modalBreak:true);

////bootstrap datatable
.top{
    height: 50px;
}
#bootstrapDataTable{
    min-width: 100%;
    max-height: 200px;
}
tbody{
    border: solid 1px $borderColor;
 }
 thead {
    th{
        border: solid 1px #EAEAEA !important;
        border-bottom: none !important;
        font-size: 12px;
        @media (max-width:$breakpoint-sm){
            font-size: 11px;
        }
        min-width: 80px;
        height: 34px;
        &:nth-child(1){
            padding-left: 10px;
        }
    }
}
th,tr,td{
    padding-left: 10px;
}
 tr{
     td{
         border:solid 1px $borderColor !important;
         font-family: robotoRegular;
         font-size: 12px !important;
         height: 25px;
         @media (max-width:$breakpoint-sm){
            font-size: 11px !important;
        }
     }
 } 
.dataTables_wrapper .dataTables_filter{
    font-family: robotoRegular !important;
     font-size: 12px;
     input{
        border: solid 2px $borderColor !important;
        height: 30px;
    }
 }
.bottom{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .dataTables_paginate {
        .paginate_button{
            background-color: white;
            color: black;
            border: solid 1px $borderColor !important;
            font-family: robotoRegular !important;
            font-size: 11px;
            padding: 8px 10px;
            margin-right: 10px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: $hightlightColor;
                color: white;
            }
        }
        .current{
            background-color: $hightlightColor;
            color: white;
        }
    }
    .dataTables_length{
        font-family: robotoRegular;
        font-size: 12px;
        select{
            padding: 4px;
            margin-left: 5px;
            background-color: white;
            border: solid 1px $borderColor;
            border-radius: 4px;
            &:focus{
                border: solid 1px $hightlightColor;
                cursor: pointer;
            }
        }
    }
} 

 .dataTables_scroll{
     height: 350px;
     width: 100%;
     overflow: auto !important;
     @include Scrollbar_addon();
 }

.dataTables_scrollBody{
    overflow: auto !important;
    @include Scrollbar_addon();
 }
